_build/*
.DS_Store
doc/*
deps/*
ebin/*
mix.lock
rebar.lock
.elixir_ls/*
node_modules/*
package-lock.json
src/erlang-original/
_checkouts/*
erl_crash.dump
rebar3.crashdump
src/erlang/_build/*
src/erlang/_checkouts/*
src/erlang/ebin/*

